* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class*='col-'] {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  #header {
    margin-top: 50px;
  }
  #header .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  #header .col-sm-6 .minimo-bgi div {
    background-image: url(img/minimo.png);
    background-repeat: no-repeat;
    height: 23px;
    margin-bottom: 25px;
    text-align: left;
    cursor: pointer;
  }
  #header .col-sm-6 .menu-header {
    max-width: 95%;
  }
  #header .col-sm-6 .menu-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header .col-sm-6 .menu-header ul li a {
    text-decoration: none;
    font-family: "Playfair Display", serif;
    color: #626262;
    font-size: 14px;
    text-transform: uppercase;
  }
  #header .col-sm-6 .menu-header ul li a:hover {
    color: #bd3f3f;
  }
  #new-slaider {
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  #new-slaider .slaider {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  #new-slaider .slaider div img {
    width: 100%;
  }
  #slaider {
    margin-top: 25px;
  }
  #slaider .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #slaider .col-sm-12 div {
    margin-left: 10%;
    margin-right: 10%;
    height: 99%;
  }
  #slaider .col-sm-12 div img {
    width: 100%;
  }
  #perfect-weekend {
    margin-top: 100px;
    margin-right: 10%;
    margin-left: 10%;
  }
  #perfect-weekend .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  #perfect-weekend .col-sm-12 .photodiary {
    color: #b4ad9e;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }
  #perfect-weekend .perfect-weekend-getway {
    color: #626262;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    margin-top: 30px;
  }
  #perfect-weekend .perfect-text {
    font-size: 14px;
    font-family: "Playfair Display", serif;
    color: #626262;
    margin-top: 30px;
    max-width: 100%;
    line-height: 20px;
  }
  #more-than {
    margin-top: 100px;
    margin-right: 10%;
    margin-left: 10%;
  }
  #more-than .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  #more-than .col-sm-12 .photodiary {
    color: #b4ad9e;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 100px;
  }
  #more-than .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 100px;
  }
  #more-than .col-sm-6 .life-style {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    color: #b4ad9e;
    margin-top: 25px;
    text-transform: uppercase;
  }
  #more-than .col-sm-6 .more-than-text {
    margin-top: 25px;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    color: #626262;
    font-weight: bold;
  }
  #more-than .col-sm-6 .more-than-lorem {
    font-size: 14px;
    font-family: "Playfair Display", serif;
    color: #626262;
    margin-top: 25px;
    line-height: 17px;
  }
  #sign-up {
    margin-right: 10%;
    margin-left: 10%;
  }
  #sign-up .container-sign-up {
    margin-right: auto;
    margin-left: auto;
  }
  #sign-up .container-sign-up div {
    font-size: 30px;
    font-family: "Playfair Display", serif;
    color: #333333;
    margin-bottom: 70px;
  }
  #sign-up .container-sign-up input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding-bottom: 10px;
  }
  #sign-up .container-sign-up input::-webkit-input-placeholder {
    font-family: "Playfair Display", serif;
    font-size: 14px;
  }
  #sign-up .container-sign-up input:-ms-input-placeholder {
    font-family: "Playfair Display", serif;
    font-size: 14px;
  }
  #sign-up .container-sign-up input::-ms-input-placeholder {
    font-family: "Playfair Display", serif;
    font-size: 14px;
  }
  #sign-up .container-sign-up input::placeholder {
    font-family: "Playfair Display", serif;
    font-size: 14px;
  }
  #more-than-bottom {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 100px;
  }
  #more-than-bottom .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    min-width: 50%;
  }
  #more-than-bottom .col-sm-6 .life-style {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    color: #b4ad9e;
    margin-top: 25px;
    text-transform: uppercase;
  }
  #more-than-bottom .col-sm-6 .more-than-text {
    margin-top: 25px;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    color: #626262;
    font-weight: bold;
  }
  #more-than-bottom .col-sm-6 .more-than-lorem {
    font-size: 14px;
    font-family: "Playfair Display", serif;
    color: #626262;
    margin-top: 25px;
    line-height: 17px;
  }
  #more-than-bottom .load-more {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  #more-than-bottom .load-more button {
    font-size: 20px;
    font-family: "Playfair Display", serif;
    color: #626262;
    padding: 10px 17px;
    border: 1px solid #626262;
    border-radius: 7px;
  }
  #more-than-bottom .load-more button:hover {
    background-color: #737070;
    border: 1px solid #737070;
    color: white;
  }
  #footer {
    margin-top: 150px;
    margin-left: 10%;
    margin-bottom: 20px;
  }
  #footer .col-sm-6:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    min-width: 50%;
  }
  #footer .col-sm-6:first-child a {
    font-size: 20px;
    text-decoration: none;
    color: #626262;
    margin-right: 25px;
  }
  #footer .col-sm-6:first-child a:hover {
    color: #bd3f3f;
  }
  #footer .col-sm-6:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    min-width: 50%;
    text-align: right;
  }
  #footer .col-sm-6:last-child .follow-footer {
    font-size: 20px;
    text-decoration: none;
    color: #626262;
    margin-right: 25px;
  }
  #footer .col-sm-6:last-child .follow-footer:hover {
    color: #bd3f3f;
  }
  #footer .col-sm-6:last-child .facebook {
    margin-right: 25px;
  }
  #footer .col-sm-6:last-child .facebook img {
    background-color: #2462af;
    width: 20px;
    margin-bottom: -3px;
  }
  #footer .col-sm-6:last-child .facebook img:hover {
    background-color: #273a52;
  }
  #footer .col-sm-6:last-child .twitter {
    margin-right: 25px;
  }
  #footer .col-sm-6:last-child .twitter img {
    background-color: #2462af;
    width: 20px;
    margin-bottom: -3px;
  }
  #footer .col-sm-6:last-child .twitter img:hover {
    background-color: #273a52;
  }
  #footer .col-sm-6:last-child .gmail {
    margin-right: 25px;
  }
  #footer .col-sm-6:last-child .gmail img {
    background-color: #2462af;
    width: 20px;
    margin-bottom: -3px;
  }
  #footer .col-sm-6:last-child .gmail img:hover {
    background-color: #273a52;
  }
  .special-width {
    width: 100%;
  }
  .modal .modal-block .btn-close {
    font-size: 14px;
  }
  .modal .modal-block h1 {
    font-size: 13px;
  }
  .modal .modal-block .form-field :first-child {
    margin-bottom: 10px;
  }
  .modal .modal-block .btn-recall button {
    margin-top: -20px;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: none;
  }
  .modal .modal-block {
    width: 600px;
    height: 400px;
    margin: 80px auto;
    border: 1px solid gray;
    background-color: white;
    padding: 15px;
  }
  .modal .modal-block .btn-close {
    text-align: right;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    color: #626262;
  }
  .modal .modal-block .btn-close:hover {
    color: #b4ad9e;
  }
  .modal .modal-block h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .modal .modal-block .form-field {
    margin: 50px;
  }
  .modal .modal-block .form-field input {
    font-family: "Playfair Display", serif;
    color: #626262;
    border: none;
    padding: 15px;
    width: 100%;
  }
  .modal .modal-block .btn-recall {
    text-align: center;
    margin-top: 25px;
  }
  .modal .modal-block .btn-recall button {
    padding: 15px 20px;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    cursor: pointer;
    color: #626262;
  }
  .modal .modal-block .btn-recall button:hover {
    color: #b4ad9e;
  }
}

@media (min-width: 992px) {
  #more-than .container-more-than img {
    width: 100%;
  }
  #more-than-bottom .container-more-than img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #perfect-weekend {
    margin-right: 15%;
    margin-left: 15%;
  }
  #perfect-weekend .perfect-text {
    font-size: 16px;
    line-height: 23px;
  }
  #more-than .col-md-6 .container-box .container-more-than .more-than-text {
    font-size: 30px;
    letter-spacing: 1px;
  }
  #more-than .col-md-6 .container-box .container-more-than .more-than-lorem {
    font-size: 17px;
    line-height: 23px;
  }
  #sign-up .container-sign-up div {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .col-xs-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  #header .minimo-bgi {
    margin-top: 45px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header .minimo-bgi div {
    background-image: url(img/minimo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    margin-bottom: 25px;
  }
  #header .menu-header {
    width: 100%;
  }
  #header .menu-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header .menu-header ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #626262;
  }
  #header .menu-header ul li a:hover {
    color: #bd3f3f;
  }
  #new-slaider {
    margin-top: 10px;
  }
  #new-slaider .slaider {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #new-slaider .slaider .special-width {
    width: 100%;
  }
  #perfect-weekend {
    margin-top: 50px;
  }
  #perfect-weekend .photodiary {
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-size: 11px;
    color: #b4ad9e;
    margin-bottom: 30px;
  }
  #perfect-weekend .perfect-weekend-getway {
    font-size: 30px;
    font-family: "Playfair Display", serif;
    color: #626262;
    font-weight: 400;
  }
  #perfect-weekend .perfect-text {
    margin-top: 30px;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    color: #626262;
    line-height: 17px;
  }
  #more-than {
    margin-top: 50px;
  }
  #more-than .photodiary {
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-size: 11px;
    color: #b4ad9e;
    margin-bottom: 30px;
  }
  #more-than .container-box {
    margin-bottom: 50px;
    text-align: center;
  }
  #more-than .container-box .container-more-than {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  #more-than .container-box .container-more-than img {
    width: 100%;
  }
  #more-than .container-box .container-more-than .life-style {
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-size: 11px;
    color: #b4ad9e;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #more-than .container-box .container-more-than .more-than-text {
    font-family: "Playfair Display", serif;
    font-size: 27px;
    color: #626262;
  }
  #more-than .container-box .container-more-than .more-than-lorem {
    margin-top: 20px;
    color: #626262;
    font-family: "Playfair Display", serif;
    line-height: 18px;
    font-size: 14px;
  }
  #sign-up {
    margin-top: 50px;
  }
  #sign-up .container-sign-up {
    position: relative;
    width: 64%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  #sign-up .container-sign-up div {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #333333;
    margin-bottom: 60px;
  }
  #sign-up .container-sign-up input {
    width: 100%;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
    font-family: "Playfair Display", serif;
  }
  #sign-up .container-sign-up input::-webkit-input-placeholder {
    font-family: "Playfair Display", serif;
  }
  #sign-up .container-sign-up input:-ms-input-placeholder {
    font-family: "Playfair Display", serif;
  }
  #sign-up .container-sign-up input::-ms-input-placeholder {
    font-family: "Playfair Display", serif;
  }
  #sign-up .container-sign-up input::placeholder {
    font-family: "Playfair Display", serif;
  }
  #more-than-bottom {
    margin-top: 50px;
  }
  #more-than-bottom .container-more-than {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  #more-than-bottom .container-more-than img {
    width: 100%;
  }
  #more-than-bottom .container-more-than .life-style {
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-size: 11px;
    color: #b4ad9e;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #more-than-bottom .container-more-than .more-than-text {
    font-family: "Playfair Display", serif;
    font-size: 27px;
    color: #626262;
  }
  #more-than-bottom .container-more-than .more-than-lorem {
    margin-top: 20px;
    color: #626262;
    font-family: "Playfair Display", serif;
    line-height: 18px;
    font-size: 14px;
  }
  #more-than-bottom .load-more {
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  #more-than-bottom .load-more button {
    color: #626262;
    font-size: 16px;
    padding: 11px 15px;
  }
  #footer {
    margin-bottom: 15px;
  }
  #footer .col-xs-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333%;
            flex: 0 0 58.3333333%;
    max-width: 58.3333333%;
  }
  #footer .col-xs-7 a:first-child {
    font-size: 11px;
    margin-right: 5px;
  }
  #footer .col-xs-7 a {
    text-decoration: none;
    font-size: 11px;
    color: #000000;
    font-family: "Playfair Display", serif;
  }
  #footer .col-xs-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666667%;
            flex: 0 0 41.6666667%;
    max-width: 41.6666667%;
    text-align: right;
  }
  #footer .col-xs-5 .follow-footer {
    text-decoration: none;
    font-family: "Playfair Display", serif;
    color: #626262;
    font-size: 11px;
    margin-right: 5px;
  }
  #footer .col-xs-5 .facebook {
    margin-right: 0px;
  }
  #footer .col-xs-5 .facebook img {
    background-color: #2462af;
    width: 15px;
    margin-bottom: -3px;
  }
  #footer .col-xs-5 .facebook img:hover {
    background-color: #273a52;
  }
  #footer .col-xs-5 .twitter {
    margin-right: 0px;
  }
  #footer .col-xs-5 .twitter img {
    background-color: #2462af;
    width: 15px;
    margin-bottom: -3px;
  }
  #footer .col-xs-5 .twitter img:hover {
    background-color: #273a52;
  }
  #footer .col-xs-5 .gmail {
    margin-right: 0px;
  }
  #footer .col-xs-5 .gmail img {
    background-color: #2462af;
    width: 15px;
    margin-bottom: -3px;
  }
  #footer .col-xs-5 .gmail img:hover {
    background-color: #273a52;
  }
  .modal .modal-block {
    max-width: 300px;
    max-height: 300px;
  }
  .modal .modal-block .btn-close {
    font-size: 14px;
  }
  .modal .modal-block h1 {
    font-size: 13px;
  }
  .modal .modal-block .form-field :first-child {
    margin-bottom: 10px;
  }
  .modal .modal-block .btn-recall button {
    margin-top: -20px;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: none;
  }
  .modal .modal-block {
    margin: 80px auto;
    border: 1px solid gray;
    background-color: white;
    padding: 15px;
  }
  .modal .modal-block .btn-close {
    font-size: 20px;
    text-align: right;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    color: #626262;
  }
  .modal .modal-block .btn-close:hover {
    color: #b4ad9e;
  }
  .modal .modal-block h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .modal .modal-block .form-field input {
    font-size: 18px;
    font-family: "Playfair Display", serif;
    color: #626262;
    border: none;
    padding: 10px;
    width: 100%;
  }
  .modal .modal-block .btn-recall {
    text-align: center;
    margin-top: 25px;
  }
  .modal .modal-block .btn-recall button {
    font-size: 18px;
    padding: 11px 14px;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    cursor: pointer;
    color: #626262;
  }
  .modal .modal-block .btn-recall button:hover {
    color: #b4ad9e;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */