// font-family: 'Playfair Display', serif; 
// font-family: 'Ubuntu', sans-serif;
$playFair:'Playfair Display', serif;
$ubunut:'Ubuntu', sans-serif;
$main-color:#626262;
$bgcHover:rgba($color: #794b4b, $alpha: 0.9);
$obunut-color:#b4ad9e;



*{
    box-sizing: border-box;
}
.container {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
[class*='col-']{
    padding-left: 15px;
    padding-right: 15px;
}

// .col-sm-6 {
//     flex: 0 0 50%;
//     max-width: 50%;
// }


@media (min-width:768px){
    // header /////////////////////////////////////////////////||
    #header {
        margin-top: 50px;
        .col-sm-6{
            flex: 0 0 50%;
            max-width: 50%;
            .minimo-bgi{
                div{
                background-image: url(img/minimo.png);
                background-repeat: no-repeat;
                height: 23px;
                margin-bottom: 25px;
                text-align: left;
                cursor: pointer;
                }
            }
        }
        .col-sm-6 {
            .menu-header{
                max-width: 95%;
                ul{
                    
                    display: flex;
                    justify-content: space-between;
                    li{
                        a{
                            text-decoration: none;
                            font-family: $playFair;
                            color: $main-color;
                            font-size: 14px;
                            text-transform: uppercase;
                            &:hover{
                                color:#bd3f3f;
                            }
                        }
                    }
                }
            }
        }
        
    }
    #new-slaider{
        margin-top: 5px;
        margin-right: auto;
        margin-left: auto;
        width:100%;
        .slaider {
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            div{
                img{
                    width: 100%;
                }
            }
        }
    }
    // slaider //////////////////////////////////////////||
    #slaider {
        margin-top: 25px;
        .col-sm-12{
            flex: 0 0 100%;
            min-width: 100%;
            margin-left: auto;
                    margin-right: auto;
            div{
                margin-left: 10%;
                margin-right: 10%;
                height: 99%;
                // &:hover{
                //         background: $bgcHover;
                //     }   
                img{
                    width: 100%;
                    // opacity: 0.9;
                }
            }
        }
    }
    // perfect-weekend /////////////////////////////////////||
    #perfect-weekend {
        margin-top: 100px;
        margin-right: 10%;
        margin-left: 10%;
        .col-sm-12{
            flex: 0 0 100%;
            max-width: 100%;
            .photodiary{
                color: $obunut-color;
                font-family: $ubunut;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        .perfect-weekend-getway{
            color: $main-color;
            font-family: $playFair;
            font-size: 30px;
            margin-top: 30px;
        }
        .perfect-text{
            font-size: 14px;
            font-family: $playFair;
            color: $main-color;
            margin-top: 30px;
            max-width: 100%;
            line-height: 20px;
        }
    }
    // more-than ///////////////////////////////////||
    #more-than {
            margin-top: 100px;
            margin-right: 10%;
            margin-left: 10%; 
            .col-sm-12{
                flex: 0 0 100%;
                max-width: 100%;
                .photodiary{
                    color: $obunut-color;
                    font-family: $ubunut;
                    font-size: 14px;
                    text-transform: uppercase;
                    margin-bottom: 100px;
                }
            }
            .col-sm-6{
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 100px;
                .life-style{
                    font-size: 14px;
                    font-family: $ubunut;
                    color: $obunut-color;
                    margin-top: 25px;
                    text-transform: uppercase;
                }
                .more-than-text{
                    margin-top: 25px;
                    font-size: 25px;
                    font-family: $playFair;
                    color: $main-color;
                    font-weight: bold;
                }
                .more-than-lorem{
                    font-size: 14px;
                    font-family: $playFair;
                    color: $main-color;
                    margin-top: 25px;
                    line-height: 17px;
                }
            }
    }
// sign-up /////////////////////////////////////||
    #sign-up{
        margin-right: 10%;
        margin-left: 10%;
        .container-sign-up{
            margin-right: auto;
            margin-left: auto;
            div{
                font-size: 30px;
                font-family: $playFair;
                color: #333333;
                margin-bottom: 70px;
            }
            input{
                border: none;
                border-bottom: 1px solid black;
                width: 100%;
                padding-bottom: 10px;
                &::placeholder{
                    font-family: $playFair;
                    font-size: 14px;
                }
            }
        }
}
    // more-than-bottom //////////////////////||
    #more-than-bottom{
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 100px;
        .col-sm-6{
            flex: 0 0 50%;
            min-width: 50%;
            .life-style{
                font-size: 14px;
                font-family: $ubunut;
                color: $obunut-color;
                margin-top: 25px;
                text-transform: uppercase;
            }
            .more-than-text{
                margin-top: 25px;
                font-size: 25px;
                font-family: $playFair;
                color: $main-color;
                font-weight: bold;
            }
            .more-than-lorem{
                font-size: 14px;
                font-family: $playFair;
                color: $main-color;
                margin-top: 25px;
                line-height: 17px;
            }
        }
        .load-more{
            margin-top: 100px;
            margin-right: auto;
            margin-left: auto;
            button{
                font-size: 20px;
                font-family: $playFair;
                color: $main-color;
                padding: 10px 17px;
                border: 1px solid $main-color;
                border-radius: 7px;
                &:hover{
                    background-color: #737070;
                    border: 1px solid #737070;
                    color: white;
                }
            }
        }
    }
    // footer //////////////////////////////////////||
    #footer {
        margin-top: 150px;
        margin-left: 10%;
        margin-bottom: 20px;
        .col-sm-6:first-child{
            flex: 0 0 50%;
            min-width: 50%;
            a{
                font-size: 20px;
                text-decoration: none;
                color: $main-color;
                margin-right: 25px;
                &:hover {
                    color: #bd3f3f;
                }
            }
        }
        .col-sm-6:last-child{
            flex: 0 0 50%;
            min-width: 50%;
            text-align: right;
            .follow-footer{
                font-size: 20px;
                text-decoration: none;
                color: $main-color;
                margin-right: 25px;
                &:hover {
                    color: #bd3f3f;
                }
            }
            .facebook{
                margin-right: 25px;
                img{
                    background-color: #2462af;
                    width: 20px;
                    margin-bottom: -3px;
                    &:hover{
                        background-color:#273a52 ;
                    }
                }

            }
            .twitter{
                margin-right: 25px;
                img{
                    background-color: #2462af;
                    width: 20px;
                    margin-bottom: -3px;
                    &:hover{
                        background-color:#273a52 ;
                    }
                }
            }
            .gmail{
                margin-right: 25px;
                img{
                    background-color: #2462af;
                    width: 20px;
                    margin-bottom: -3px;
                    &:hover{
                        background-color:#273a52 ;
                    }
                }
            }           
        }
    }
    .special-width {
        width: 100%;
    }
    .modal {
        .modal-block{
            .btn-close{
                font-size: 14px;
            }
            h1{
                font-size: 13px;
            }
            .form-field :first-child{
                margin-bottom: 10px;
            }
            .btn-recall{
                button{
                    margin-top: -20px;
                }
            }
        }
    }
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 100;
        display: none;
        .modal-block {
            width: 600px;
            height: 400px;
            margin: 80px auto;
            border: 1px solid gray;
            background-color: white;
            padding: 15px;
            .btn-close {
                text-align: right;
                cursor: pointer;
                text-transform: uppercase;
                font-family: $playFair;
                color: $main-color;
                &:hover {
                    color: $obunut-color;
                }
            }    
            h1{
                font-size: 30px;
                text-transform: uppercase;
                font-family: $playFair;
                text-align: center;
                margin-top: 15px;
                margin-bottom: 25px;
            }
            .form-field {
                margin: 50px;
                input {
                    font-family: $playFair;
                    color: $main-color;
                    border: none;
                    padding: 15px;
                    width: 100%;
                }
            }
            .btn-recall {
                text-align: center;
                margin-top: 25px;
                button {
                    padding: 15px 20px ;
                    text-transform: uppercase;
                    font-family: $playFair;
                    cursor: pointer;
                    color: $main-color;
                    &:hover {
                        color: $obunut-color;
                    }
                }
            }
        }
    }
}
@media (min-width:992px){
    // header //////////////////////////////////||
    
    // more-than //////////////////////////////////||
    #more-than {
        .container-more-than{
            img{
                width: 100%;
            }
        }
    }
    // more-than-bottom ////////////////////////////||
    #more-than-bottom {
        .container-more-than{
            img{
                width: 100%;
            }
        }
    }
}

@media (min-width:1200px){
// perfect-weekend ///////////////////////////////////||
    #perfect-weekend {
        margin-right: 15%;
        margin-left: 15%;
        .perfect-text{
                font-size: 16px;
                line-height: 23px;
        }
    }
    // more-than //////////////////////////||
    #more-than {
        .col-md-6{
            .container-box{
                .container-more-than{
                    .more-than-text{
                        font-size: 30px;
                        letter-spacing: 1px;
                    }
                    .more-than-lorem{
                        font-size: 17px;
                        line-height: 23px;
                    }
                }
            }
        }
    }
    // sign-up ///////////////////////////||
    #sign-up {
        .container-sign-up{
            div{
                font-size: 35px;
            }
        }
    }
}



// only mobile 
@media (max-width:767px){
    html, body {
            max-width: 100%;
            overflow-x: hidden;
        } 
    .col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #header {
        
        .minimo-bgi{
            margin-top: 45px;
            justify-content: center;
            div{
                background-image: url(img/minimo.png);
                background-repeat: no-repeat;
                background-position: center;
                height: 20px;
                margin-bottom: 25px;
            }
        }
        .menu-header {
            width: 100%;
            ul{
                display: flex;
                justify-content: space-between;
                li{
                    a{
                        text-transform: uppercase;
                        text-decoration: none;
                        font-family: $playFair;
                        font-size: 14px;
                        color:$main-color ;
                        &:hover{
                            color:#bd3f3f;
                        }
                    }
                }
            }
        }
    }
    // #slaider ///////////////////////////||
    #new-slaider {
        margin-top: 10px;
        .slaider{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            .special-width{
                width: 100%;
            }
        }
    }
    // #perfect-weecend///////////////////////||
    #perfect-weekend{
        margin-top: 50px;
        .photodiary{
            text-transform: uppercase;
            font-family: $ubunut;
            font-size: 11px;
            color: $obunut-color;
            margin-bottom: 30px;
        }
        .perfect-weekend-getway{
            font-size: 30px;
            font-family: $playFair;
            color: $main-color;
            font-weight: 400;
        }
        .perfect-text {
            margin-top: 30px;
            font-size: 14px;
            font-family: $playFair;
            color: $main-color;
            line-height: 17px;
        }
    }
    // more-than /////////////////||
    #more-than {
        margin-top: 50px;
        .photodiary{
            text-transform: uppercase;
            font-family: $ubunut;
            font-size: 11px;
            color: $obunut-color;
            margin-bottom: 30px;
        }
        .container-box {
            margin-bottom: 50px;
            text-align: center;
            .container-more-than{
                text-align: left;
                margin-left: auto;
                margin-right: auto;
                img{
                    width: 100%;
                }
                .life-style{
                text-transform: uppercase;
                font-family: $ubunut;
                font-size: 11px;
                color: $obunut-color;
                margin-top: 20px;
                margin-bottom: 20px;
                }
                .more-than-text {
                    font-family: $playFair;
                    font-size: 27px;
                    color: $main-color;
                }
                .more-than-lorem{
                    margin-top: 20px;
                    color: $main-color;
                    font-family: $playFair;
                    line-height: 18px;
                    font-size: 14px;
                }
            }
        }
        
    }
    // sign-up //////////////////////////||
    #sign-up {
        margin-top: 50px;
        .container-sign-up{
            position: relative;
            width: 64%;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            div{
                font-family: $playFair;
                font-size: 30px;
                color: #333333;
                margin-bottom: 60px;
            }
            input{
                width: 100%;
                border: none;
                padding-bottom: 10px;
                padding-top: 10px;
                border-bottom: 2px solid black;
                margin-bottom: 25px;
                font-family: $playFair;
                &::placeholder {
                    font-family: $playFair;
                }
            }
        }
    }
    // new//////////////////////////////////||
    #more-than-bottom{
        margin-top: 50px;
        .container-more-than{
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            img {
                width: 100%;
            }
            .life-style{
            text-transform: uppercase;
            font-family: $ubunut;
            font-size: 11px;
            color: $obunut-color;
            margin-top: 20px;
            margin-bottom: 20px;
            }
            .more-than-text {
                font-family: $playFair;
                font-size: 27px;
                color: $main-color;
            }
            .more-than-lorem{
                margin-top: 20px;
                color: $main-color;
                font-family: $playFair;
                line-height: 18px;
                font-size: 14px;
            }
        }
        .load-more {
            margin-top: 50px;
            margin-bottom: 150px;
            margin-left: auto;
            margin-right: auto;
            button{
                color: $main-color;
                font-size: 16px;
                padding: 11px 15px;
            }
        }
    }
    // footer ////////////////////////////////||
    #footer{
        margin-bottom: 15px;
        .col-xs-7{
            flex:0 0 58.3333333%;
            max-width:58.3333333% ;
            a:first-child{
                font-size: 11px;
                margin-right: 5px;
            }
            a{
                text-decoration: none;
                font-size: 11px;
                color: #000000;
                font-family: $playFair;
            }
        }
        .col-xs-5 {
            flex:0 0 41.6666667%;
            max-width:41.6666667% ;
            text-align: right;
            .follow-footer{
                text-decoration: none;
                font-family: $playFair;
                color: $main-color;
                font-size: 11px;
                margin-right: 5px;
            }
            .facebook{
                margin-right: 0px;
                img{
                    background-color: #2462af;
                    width: 15px;
                    margin-bottom: -3px;
                    &:hover{
                        background-color:#273a52 ;
                    }
                }

            }
            .twitter{
                margin-right: 0px;
                img{
                    background-color: #2462af;
                    width: 15px;
                    margin-bottom: -3px;
                    &:hover{
                        background-color:#273a52 ;
                    }
                }
            }
            .gmail{
                margin-right: 0px;
                img{
                    background-color: #2462af;
                    width: 15px;
                    margin-bottom: -3px;
                    &:hover{
                        background-color:#273a52 ;
                    }
                }
            }
            }    
        }
        .modal {
            .modal-block{
                max-width: 300px;
                max-height: 300px;
                .btn-close{
                    font-size: 14px;
                }
                h1{
                    font-size: 13px;
                }
                .form-field :first-child{
                    margin-bottom: 10px;
                }
                .btn-recall{
                    button{
                        margin-top: -20px;
                    }
                }
            }
        }
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 100;
            display: none;
            .modal-block {
                margin: 80px auto;
                border: 1px solid gray;
                background-color: white;
                padding: 15px;
                .btn-close {
                    font-size: 20px;
                    text-align: right;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-family: $playFair;
                    color: $main-color;
                    &:hover {
                        color: $obunut-color;
                    }
                }    
                h1{
                    font-size: 22px;
                    text-transform: uppercase;
                    font-family: $playFair;
                    text-align: center;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                .form-field {
                    
                    input {
                        font-size: 18px;
                        font-family: $playFair;
                        color: $main-color;
                        border: none;
                        padding: 10px;
                        width: 100%;
                    }
                }
                .btn-recall {
                    text-align: center;
                    margin-top: 25px;
                    button {
                        font-size: 18px;
                        padding: 11px 14px ;
                        text-transform: uppercase;
                        font-family: $playFair;
                        cursor: pointer;
                        color: $main-color;
                        &:hover {
                            color: $obunut-color;
                        }
                    }
                }
            }
        }
    }
.show{
    display: block;
}
.hide {
    display: none;
}